# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon\r

# Tableau temporary & lock files
.~*
*.tmp
*.log
*.bak
*__*.twbr
*__*.twb

# Python temporary files (if any scripts are run)
__pycache__/
*.py[cod]
*$py.class
